.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    backdrop-filter: blur(2px);
}

.loading-screen > div {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 9rem;
    box-shadow: inset 0em 0em 0em 0.2em #1e90ff;
    top: 50%;
    left: 50%;
}

.loading-screen > .dot1 {
    animation: loadingAnimDot1 1s infinite;
}

@keyframes loadingAnimDot1 {
    0% {
        transform: translate(0rem, -2.5rem);
    }
    100% {
        transform: translate(2.5rem, 2.5rem);
    }
}
.loading-screen > .dot2 {
    animation: loadingAnimDot2 1s infinite;
}

@keyframes loadingAnimDot2 {
    0% {
        transform: translate(2.5rem, 2.5rem);
    }
    100% {
        transform: translate(-2.5rem, 2.5rem);
    }
}
.loading-screen > .dot3 {
    animation: loadingAnimDot3 1s infinite;
}

@keyframes loadingAnimDot3 {
    0% {
        transform: translate(-2.5rem, 2.5rem);
    }
    100% {
        transform: translate(0rem, -2.5rem);
    }
}